{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-sm-7">
        <form action="" method="POST">
            {% csrf_token %}
            
            <div class="card">
                <div class="card-header">
                    Update stock
                </div>
                <div class="card-body">
                    {{updatestockform|crispy}}
                </div>
                <div class="card-footer">
                    <a href="{{request.META.HTTP_REFERER}}" type="button" class="btn btn-secondary btn-sm">Back</a>
                    <button type="submit" class="btn btn-primary btn-sm">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}